.AcceptButton {
    color: black;
    width: calc(100% - calc(var(--width)*0.02));
    height: var(--height);
    font-size: calc(var(--font-size)*0.7);
    margin: var(--margin);
    padding: var(--margin);
    border-radius: var(--border-radius);
    border: 1px solid rgb(var(--color-yellow));
    color: rgb(var(--color-yellow));
    background-color: rgba(0,0,0,0);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 150ms ease-out;
}

.AcceptButton:hover, .AcceptButton:focus {
    background-color: rgba(var(--color-yellow), 0.25);
    transform: scale(1.02);
}