@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('../fonts/fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Mittelschrift';
    font-family: 'Kinetika';
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

html {
    --width: 20rem;
    --amount: 6;

    --height: calc(calc(var(--width)/var(--amount))/0.95);
    --margin: calc(var(--width)*0.01);
    --border-radius: calc(calc(var(--width)/var(--amount))/12);
    --font-size: calc(calc(var(--width)/var(--amount))/1.6);
}

.canvas {
    background-image: url('../img/Blur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100.1vh;
    width: 100vw;
}
.filter {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 100.1vh;
    width: 100vw;
}

.header {
    height: 33vh;
    display: flex;
    justify-content: center;
}
.footer {
    flex-grow: 1;
}
.filler {
    display: none;
}
@media (orientation: portrait) {
    .header {
        height: 30vh;
    }
}
@media (orientation: landscape) and (max-height: 400px) {
    .filter  {
        flex-direction: row;
    }
    .Company {
        display: none;
    }
    .header, .footer {
        display: none;
    }
    .filler {
        display: block;
        border: 2px red solid;
        flex-grow: 1;
        height: 100vh;
    }
    .content {
        margin-top: 1.5rem;
        margin-right: 1.5rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

input {
    display: block;
}


#UserInput {
    
    width: var(--width);
}

#UserInput h5 {
    width: 100%;
    font-size: calc(var(--font-size)/2.4);
    color: rgb(var(--color-yellow));
    text-align: right;
    padding-right: calc(var(--margin)*2.4);
}

.Company {
    width: 20rem;
    height: 3.7rem;
    background-image: url(../img/LogoTerminal.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: calc(var(--height)/3);
}

.Sponser {
    width: 22rem;
    height: 5rem;
    background-image: url(../img/Otkr_logo_bank_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: calc(var(--height)/2);
}
@media (orientation: landscape) {
    .Sponser {
        width: 30rem;
    }
}
