@import url(./colors.css);

.pin-field {
    width: calc(100%/var(--amount));
    height: var(--height);
    color: rgba(var(--color-yellow), 1);
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(var(--color-yellow), 1);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    margin: var(--margin);
    letter-spacing: 0;
    outline: none;
    text-align: center;
    transition-duration: 250ms;
    transition-property: background, color, border, box-shadow, transform;
}
  
.pin-field:focus {
    border-color: rgb(0, 123, 255);
    outline: none;
    transform: scale(1.08);
}
/*
swd-pin-field[completed] .pin-field {
    border-color: rgb(40, 167, 69);
    background-color: rgba(40, 167, 69, 0.25);
}
*/
swd-pin-field[valid_pass] .pin-field {
    color: rgb(var(--color-green));
    border-color: rgb(var(--color-green));
    background-color: rgba(var(--color-green), 0.25);
}
swd-pin-field[valid_fail] .pin-field, .pin-field:invalid {
    animation: shake 3 linear 75ms;
    color: rgb(var(--color-red));
    border-color: rgb(var(--color-red));
    box-shadow: 0 0 0.25rem rgba(var(--color-red), 0.5);
}
  
@keyframes shake {
    from {
        transform: scale(1.05) translateY(-5%);
    }
    to {
        transform: scale(1.05) translateY(5%);
    }
}