<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.00, maximum-scale=1.00, minimum-scale=1.00, user-scalable=no">
        <link href=" {{ url_for('static', filename = 'css/index.css') }} " rel="stylesheet">
    </head>
    <body>

        <div class='canvas'><div class='filter'>
            <div class='header'>
                <div class='Sponser'></div>
            </div>
            <div class='filler'></div>
            <div class='main'>
                <div class="content">
                    <div id = "UserInput"></div>
                    <div class="Company"></div>
                </div>
            </div>
            <div class='footer'></div>
        </div></div>

    </body>
    <script src=" {{ url_for('static', filename = 'js/dep/index.js') }} "></script>
</html>